[submodule "ttf-iosevka"]
	path = ttf-iosevka
	url = https://aur.archlinux.org/ttf-iosevka.git
	ignore = dirty
[submodule "vim-gruvbox-git"]
	path = vim-gruvbox-git
	url = https://aur.archlinux.org/vim-gruvbox-git.git
[submodule "vim-airline-gruvbox-git"]
	path = vim-airline-gruvbox-git
	url = https://aur.archlinux.org/vim-airline-gruvbox-git.git
[submodule "i3blocks-contrib"]
	path = i3blocks-contrib
	url = https://aur.archlinux.org/i3blocks-contrib.git
	ignore = dirty
[submodule "leiningen"]
	path = leiningen
	url = https://aur.archlinux.org/leiningen.git
	ignore = dirty
[submodule "vim-toml-git"]
	path = vim-toml-git
	url = https://aur.archlinux.org/vim-toml-git.git
	ignore = dirty
