[submodule "ttf-iosevka"]
	path = ttf-iosevka
	url = https://aur.archlinux.org/ttf-iosevka.git
	ignore = dirty
[submodule "vim-gruvbox-git"]
	path = vim-gruvbox-git
	url = https://aur.archlinux.org/vim-gruvbox-git.git
[submodule "vim-airline-gruvbox-git"]
	path = vim-airline-gruvbox-git
	url = https://aur.archlinux.org/vim-airline-gruvbox-git.git
[submodule "i3blocks-contrib"]
	path = i3blocks-contrib
	url = https://aur.archlinux.org/i3blocks-contrib.git
	ignore = dirty
[submodule "leiningen"]
	path = leiningen
	url = https://aur.archlinux.org/leiningen.git
	ignore = dirty
[submodule "vim-toml-git"]
	path = vim-toml-git
	url = https://aur.archlinux.org/vim-toml-git.git
	ignore = dirty
[submodule "exercism-bin"]
	path = exercism-bin
	url = https://aur.archlinux.org/exercism-bin.git
	ignore = dirty
[submodule "otf-jost"]
	path = otf-jost
	url = https://aur.archlinux.org/otf-jost.git
[submodule "bitwig-studio"]
	path = bitwig-studio
	url = https://aur.archlinux.org/bitwig-studio.git
[submodule "mcg"]
	path = mcg
	url = https://aur.archlinux.org/mcg.git
	ignore = dirty
[submodule "rofi-emoji"]
	path = rofi-emoji
	url = https://aur.archlinux.org/rofi-emoji.git
	ignore = dirty
[submodule "chromium-widevine"]
	path = chromium-widevine
	url = https://aur.archlinux.org/chromium-widevine.git
	ignore = dirty
[submodule "lightdm-mini-greeter"]
	path = lightdm-mini-greeter
	url = https://aur.archlinux.org/lightdm-mini-greeter.git
[submodule "otf-bodoni"]
	path = otf-bodoni
	url = https://aur.archlinux.org/otf-bodoni.git
[submodule "virtualbox-ext-oracle"]
	path = virtualbox-ext-oracle
	url = https://aur.archlinux.org/virtualbox-ext-oracle.git
	ignore = dirty
[submodule "cqlsh"]
	path = cqlsh
	url = https://aur.archlinux.org/cqlsh.git
	ignore = dirty
[submodule "python2-cassandra-driver-git"]
	path = python2-cassandra-driver-git
	url = https://aur.archlinux.org/python2-cassandra-driver-git.git
	ignore = dirty
[submodule "spotify"]
	path = spotify
	url = https://aur.archlinux.org/spotify.git
	ignore = dirty
[submodule "jstest-gtk-git"]
	path = jstest-gtk-git
	url = https://aur.archlinux.org/jstest-gtk-git.git
	ignore = dirty
